#### Extract Standings

In [1]:
import pandas as pd
import random
import numpy as np
from scipy.stats import norm
from espnff import League

In [2]:
## TBN 
tbn_league_id = 1256551
year = 2018
## TAL 
tal_league_id = 1381696

In [3]:
tbn_league = League(tbn_league_id, year)
tal_league = League(tal_league_id, year)

In [4]:
from datetime import datetime
season_weeks = 13 #regular season 
season_sunday_start = datetime.strptime('Sep 9 2018', '%b %d %Y').date()# Sept 9 
### get last sunday
import datetime
today = datetime.date.today()
idx = (today.weekday() + 1)
sun = today - datetime.timedelta(idx)
### last possible week 
current_week = (sun - season_sunday_start).days/7 + 1

In [75]:
def get_scores(teams):
    raw_result = []
    result = []
    for i in teams: 
        temp_scores = i.scores
        raw_result.append(temp_scores)
        temp_scores = [x for x in temp_scores if x != 0]
        result.append(temp_scores)
    return(raw_result,result)

In [76]:
import re
tbn_teams = tbn_league.teams
tal_teams = tal_league.teams
raw_tbn_s,tbn_scores = get_scores(tbn_teams)
raw_tal_s,tal_scores = get_scores(tal_teams)
tbn_owners = [i.owner for i in tbn_teams]
tal_owners = [i.owner for i in tal_teams]
tbn_teams = [str(i) for i in tbn_teams]
tal_teams = [str(i) for i in tal_teams]
tal_teams = [re.search(r'\((.*?)\)',i).group(1) for i in tal_teams]
tbn_teams = [re.search(r'\((.*?)\)',i).group(1) for i in tbn_teams]

In [7]:
tbn_team_scores = dict(zip(tbn_owners,tbn_scores))
tal_team_scores = dict(zip(tal_owners,tal_scores))

In [8]:
#tbn_team_scores = {k.replace(' ', ''): v for k, v in tbn_team_scores.items()}
#tal_team_scores = {k.replace(' ', ''): v for k, v in tal_team_scores.items()}

#### Begin Simulation

In [9]:
def sim(team, team_dict,other_division):
    keys = list(team_dict.keys())
    keys.remove(str(team))
    div_opponents = np.random.choice(keys,size=10,replace = True)
    other_keys = list(other_division.keys())
    out_div_opponents = np.random.choice(other_keys,size=2,replace = True)
    wins = 0
    bye_week_game = 0
    team_scores = team_dict[team]
    for i, score in enumerate(team_scores):
        ## Flip a coin - keeps bye week random
        if(bye_week_game<2):
            rand_number = random.randint(0,1)
            if(rand_number == 1):
                if other_division[out_div_opponents[bye_week_game]][i] < score:
                    wins+=1
                bye_week_game += 1
        else:
            if team_dict[div_opponents[i-bye_week_game]][i] < score:
                wins += 1
    return(wins)

In [10]:
def prop_of_reality(team,team_dict,other_div):
    results = {}
    for i in range(10000):
        results[i] = sim(team, team_dict,other_div)
    SResults = pd.Series(results)
    mu = SResults.mean()
    std = SResults.std()
    p0 = norm.cdf(0, loc=mu, scale = std)
    p1 = norm.cdf(1, loc=mu, scale = std)
    p2 = norm.cdf(2, loc=mu, scale = std)
    p3 = norm.cdf(3, loc=mu, scale = std)
    p4 = norm.cdf(4, loc=mu, scale = std)
    p5 = norm.cdf(5, loc=mu, scale = std)
    p6 = norm.cdf(6, loc=mu, scale=std)
    p7 = norm.cdf(7, loc=mu, scale=std)
    p8 = norm.cdf(8, loc=mu, scale=std)
    p9 = norm.cdf(9, loc=mu, scale=std)
    p10 = norm.cdf(10, loc=mu, scale=std)
    p11 = norm.cdf(11,loc=mu,scale=std)
    p12 = norm.cdf(12,loc=mu,scale=std)
    return(pd.Series({"w0":p0, "w1": p1-p0, "w2": p2-p1, \
                     "w3":p3-p2, "w4":p4-p3,'w5':p5-p4,'w6':p6-p5,'w7':p7-p6,
                     'w8':p8-p7,'w9':p9-p8,'w10':p10-p9,
                     'w11':p11-p10,'w12':1-p12}))

In [11]:
df = pd.DataFrame()

In [12]:
for team in tbn_team_scores.keys():
    df[team] = prop_of_reality(str(team),tbn_team_scores,tal_team_scores)

In [13]:
for team in tal_team_scores.keys():
    df[team] = prop_of_reality(str(team),tal_team_scores,tbn_team_scores)

In [14]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
df.index =['0-12','1-11','2-10','3-9','4-8','5-7','6-6','7-5','8-4','9-3','10-2','11-1','12-0']
df

,Mey Pan,Reed Wilson,Blair Duncan,Andrew Iorgulescu,Jack Bryant,Federico Scuoteguazza,Rodney Riojas,Wendy Tanner,Derek Taylor,Bill Alsbrooks,Kathy Duncan,Chris finder,Dan Moran,Kenneth Alabaugh,Jordan Walters,justo sorrells,Jason Menahem,daniel pearson
0-12,0.000,0.000,0.002,0.035,0.001,0.000,0.186,0.000,0.001,0.002,0.001,0.001,0.001,0.010,0.000,0.002,0.000,0.021
1-11,0.001,0.002,0.011,0.117,0.006,0.001,0.471,0.002,0.002,0.009,0.004,0.003,0.005,0.037,0.002,0.008,0.000,0.097
2-10,0.004,0.009,0.050,0.251,0.024,0.004,0.299,0.009,0.008,0.033,0.017,0.015,0.026,0.107,0.012,0.032,0.000,0.250
3-9,0.017,0.027,0.143,0.302,0.066,0.020,0.043,0.032,0.024,0.083,0.058,0.051,0.084,0.203,0.048,0.091,0.002,0.327
4-8,0.053,0.065,0.250,0.202,0.135,0.066,0.001,0.080,0.058,0.156,0.134,0.121,0.177,0.256,0.126,0.178,0.007,0.217
5-7,0.118,0.121,0.269,0.075,0.202,0.148,0.000,0.149,0.108,0.214,0.215,0.201,0.249,0.213,0.218,0.239,0.021,0.073
6-6,0.191,0.177,0.179,0.016,0.221,0.227,0.000,0.207,0.161,0.215,0.240,0.236,0.233,0.118,0.253,0.221,0.052,0.013
7-5,0.226,0.200,0.074,0.002,0.178,0.239,0.000,0.212,0.190,0.158,0.185,0.195,0.145,0.043,0.195,0.142,0.101,0.001
8-4,0.193,0.176,0.019,0.000,0.105,0.173,0.000,0.162,0.179,0.085,0.099,0.114,0.060,0.011,0.101,0.063,0.155,0.000
9-3,0.120,0.121,0.003,0.000,0.045,0.085,0.000,0.092,0.134,0.034,0.037,0.047,0.016,0.002,0.035,0.019,0.190,0.000
10-2,0.054,0.064,0.000,0.000,0.014,0.029,0.000,0.039,0.079,0.010,0.009,0.014,0.003,0.000,0.008,0.004,0.184,0.000
11-1,0.018,0.026,0.000,0.000,0.003,0.007,0.000,0.012,0.037,0.002,0.002,0.003,0.000,0.000,0.001,0.001,0.141,0.000
12-0,0.001,0.003,0.000,0.000,0.000,0.000,0.000,0.001,0.005,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.063,0.000

In [15]:
df.to_csv('Final-Projections.csv')

### Playoff Simulation

Things needed for simulation  
1) Team's Average Points  
2) League's Standard deviation   
3) Schedule

In [16]:
from statistics import mean 
from statistics import stdev
def dict_avg(dt):
    empty_dt = {}
    for ind,team in enumerate(dt):
        empty_dt[team] = mean(dt[team])
    return(empty_dt)

In [17]:
tbn_avg_score = dict_avg(tbn_team_scores)
tal_avg_score = dict_avg(tal_team_scores)

In [18]:
from itertools import chain
def flatten(listOfLists):
    "Flatten one level of nesting"
    return chain.from_iterable(listOfLists)

In [19]:
tbn_sd = stdev(list(flatten(list(tbn_team_scores.values()))))
tal_sd = stdev(list(flatten(list(tal_team_scores.values()))))

### Final Steps - for playoff simulation
1) Use the schedule to create a matchup matrix   
2) Simualte scores  
3) Figure out who wins in matchup  
4) Add to record and store whether playoffs is made  
5) Calculate how many times team makes playoffs out of simulation

### Create Overall Standings

In [104]:
def base_standings(league,division):
    teams = league.teams
    owners = [i.owner for i in teams]
    wins = [i.wins for i in teams]
    losses = [i.losses for i in teams]
    points_scored = [i.points_for for i in teams]
    sched = get_schedule(league)
    bye_week_loc = []
    for key,value in sched.items():
        bye_week_loc.append([i for i, x in enumerate(value) if x == "Bye"])
    ## Get scores
    raw_s,team_scores = get_scores(teams)
    raw_scores = dict(zip(owners,raw_s))
    bye_week_scores = get_bye_week_scores(owners,bye_week_loc,raw_scores)   
    standings_df = pd.DataFrame({
        'Owners':owners,
        'W':wins,
        'L':losses,
        'PTSF':points_scored,
        'Bye Week':bye_week_loc,
        'Bye Week - Scores':bye_week_scores,
        'Division':division
    })
    return(standings_df)

In [105]:
def get_schedule(league):
    teams = league.teams
    owners = [i.owner for i in teams]
    team_sched = {}
    for i,val in enumerate(teams):
        sched = val.schedule
        ### Identify Bye week
        for ind,opp in enumerate(sched):
            if sched[ind] == val:
                sched[ind] = 'Bye'
        team_sched[owners[i]] = sched
    return(team_sched)

In [106]:
def get_bye_week_scores(owners,bye_weeks,raw_s):
    bye_week_dict = dict(zip(owners,bye_weeks))
    bye_week_score = []
    for key,val in raw_s.items():
        bye_wks = []
        b_weeks = bye_week_dict[key]
        if(len(b_weeks)>1):
            for wk in b_weeks:
                bye_wks.append(val[wk])
        else:
            bye_wks.append(val[0])
        bye_week_score.append(bye_wks)
    return(bye_week_score)

In [107]:
base_standings(tbn_league,'TBN')

                  Owners  W  L     PTSF Bye Week Bye Week - Scores Division
0                Mey Pan  8  2 1380.850  [2, 11]     [112, 144.75]      TBN
1            Reed Wilson  6  5 1579.000      [4]          [172.75]      TBN
2           Blair Duncan  3  8 1362.000  [3, 12]          [137, 0]      TBN
3      Andrew Iorgulescu  3  8 1095.600      [5]            [96.2]      TBN
4            Jack Bryant  4  6 1277.100  [1, 10]    [166.3, 133.9]      TBN
5  Federico Scuoteguazza  6  4 1422.650   [0, 9]   [114.75, 99.95]      TBN
6          Rodney Riojas  2  9  889.050      [6]           [132.8]      TBN
7           Wendy Tanner  9  2 1552.450      [8]           [143.3]      TBN
8          Derek  Taylor  7  4 1546.400      [7]           [126.3]      TBN

In [109]:
base_standings(tal_league,'TAL')

In [122]:
def sep_list_cols(df,col,cname):
    df2 = pd.DataFrame(df[col].tolist(),columns=[str(cname)+"1",str(cname)+"2"])
    final_df = pd.concat([df,df2],axis=1)
    final_df = final_df.drop(col,axis=1)
    return(final_df)

In [132]:
def create_standings(league1,league2):
    lg1 = base_standings(league1,"TBN")
    lg2 = base_standings(league2,"TAL")    
    lg1_final = sep_list_cols(sep_list_cols(lg1,'Bye Week',"ByeWeek"),'Bye Week - Scores','ByeWeekScores')
    lg2_final = sep_list_cols(sep_list_cols(lg2,'Bye Week',"ByeWeek"),'Bye Week - Scores','ByeWeekScores')
    final_df = pd.concat([lg1_final,lg2_final],axis=0)
    return(final_df)

In [133]:
df = create_standings(tbn_league,tal_league)

In [137]:
df['win_pct'] = df['W']/(df['W'] + df['L'])

In [138]:
df

,Owners,W,L,PTSF,Division,ByeWeek1,ByeWeek2,ByeWeekScores1,ByeWeekScores2,win_pct
0,Mey Pan,8,2,1380.850,TBN,2,11.000,112.000,144.750,0.800
1,Reed Wilson,6,5,1579.000,TBN,4,nan,172.750,nan,0.545
2,Blair Duncan,3,8,1362.000,TBN,3,12.000,137.000,0.000,0.273
3,Andrew Iorgulescu,3,8,1095.600,TBN,5,nan,96.200,nan,0.273
4,Jack Bryant,4,6,1277.100,TBN,1,10.000,166.300,133.900,0.400
5,Federico Scuoteguazza,6,4,1422.650,TBN,0,9.000,114.750,99.950,0.600
6,Rodney Riojas,2,9,889.050,TBN,6,nan,132.800,nan,0.182
7,Wendy Tanner,9,2,1552.450,TBN,8,nan,143.300,nan,0.818
8,Derek Taylor,7,4,1546.400,TBN,7,nan,126.300,nan,0.636
0,Bill Alsbrooks,7,4,1453.950,TAL,4,nan,166.800,nan,0.636
1,Kathy Duncan,3,8,1419.350,TAL,5,nan,100.800,nan,0.273
2,Chris finder,6,5,1507.650,TAL,7,nan,150.850,nan,0.545
3,Dan Moran,6,5,1475.700,TAL,6,nan,109.250,nan,0.545
4,Kenneth Alabaugh,3,7,1155.050,TAL,2,11.000,158.000,82.050,0.300
5,Jordan Walters,7,4,1420.600,TAL,8,nan,92.650,nan,0.636
6,justo sorrells,3,7,1255.600,TAL,1,10.000,149.400,141.450,0.300
7,Jason Menahem,10,0,1582.800,TAL,0,9.000,152.050,128.950,1.000
8,daniel pearson,3,8,1183.200,TAL,3,12.000,115.900,0.000,0.273